<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Ekstraksi Alamat | 151402105 - arh</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <!--<link href="/static/img/favicon.png" rel="icon">-->
  <!--<link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">-->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/static/lib/magnific-popup/magnific-popup.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/static/css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Avilon
    Theme URL: https://bootstrapmade.com/avilon-bootstrap-landing-page-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header" class="header-fixed">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#advanced-features" class="scrollto">EX_ID</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
         <!--<a href="#intro"><img src="img/logo.png" alt="aaa" title=""></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#advanced-features">Home</a></li>
          <li><a href="#contact">Demo</a></li>
          <li><a href="#faq">FAQ</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <main id="main">
    <!--==========================
      Product Advanced Featuress Section
    ============================-->
    <section id="advanced-features">
      <div class="features-row section-bg">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <img class="/static/advanced-feature-img-right wow fadeInRight" src="img/advanced-feature-3.jpg" alt="">
              <div class="wow fadeInLeft">
                <h2> Ekstraksi Alamat Indonesia (BI-LSTM + CRF)</h2>
                <h3>{{ word }}</h3>
                <!--<i class="ion-ios-albums-outline"></i>-->
                <!--<p>Point penting yang ingin disampaikan disini agar tdk lupa. Bikin Simple aja</p>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- #advanced-features -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
      <div class="container">
        <div class="row wow fadeInUp">
          <div class="col-lg-5 col-md-5">
            <div class="form">
              <form action="{{ url_for('submit') }}" method="POST" enctype="multipart/form-data" role="form" class="contactForm">
                <div class="form-group">
                  {% if status == 0 %} 
                  *Klik tombol <b>Lakukan Ekstraksi</b> atau masukkan teks lain..
                  <textarea class="form-control" name="text" rows="6" placeholder="Alamat yang ingin diekstraksi..." required>Komplek Perumahan Tasbih 1 Blok OO, Jalan Casia No 24, Tanjung Sari Medan Selayang, Kota Medan, Sumatera Utara 30123</textarea>
                  {% else %}
                  <textarea class="form-control" name="text" rows="6" placeholder="Alamat yang ingin diekstraksi..." required></textarea>
                  {% endif %}

                </div>
                <div class="text-center"><button type="submit" title="Lakukan Ekstraksi">Lakukan Ekstraksi</button></div>
              </form>
            </div>
          </div>
          <div class="col-lg-2 col-md-1">
            <div class="info" style="position: relative; top: 55px; left: 48px;">
              <div>
                <i class="ion-chevron-right"></i>
                <i class="ion-chevron-right"></i>
                <i class="ion-chevron-right"></i>
              </div>
            </div>
          </div>
          <!-- <div class="col-lg-5 col-md-6"> -->
            <!-- {% if mystr %}
              <p>hasil : {{word}}</p>
              {% for item in mystr %}
                <li> {{ item }} </li>
              {% endfor %}
            {% endif %} -->
          <!-- </div> -->
          <div class="col-lg-5 col-md-5">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Word</th>
                  <th scope="col">Tag</th>
                  <th scope="col">Description</th>
                </tr>
              </thead>
              <tbody>
                {% for i in range(split_tags|length) %}
                <tr>
                  <th scope="row"> {{ i + 1 }} </th>
                  <td>{{ split_words[i] }}</td>
                  <td>{{ split_tags[i] }}</td>
                  <td>{{ desc[i] }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- <table id="data1">
              <tr>
                <td style="padding-right: 30px"><b>WORD</b></td>
                <td style="padding-right: 30px">#</td>
                <td><b>TAG</b></td>
              </tr>
              {% for i in range(split_tags|length) %}
              <tr>
                <td>{{split_words[i]}}</td>
                <td>>></td>
                <td>{{ split_tags[i] }}</td>
              </tr>
              {% endfor %}
            </table> -->
          </div>
          <div class="col-lg-7 col-md-7" style="padding-top: 30px">
            {% if data %}
            <!-- <table id="data2">
                  <tr>
                    <td style="padding-right: 95px;"><b>ENTITAS</b></td>
                    <td><b>ISI</b></td>
                  </tr>
                    <td>Jalan</td>
                    <td>{{ data.jln }}</td>
                  <tr>
                  </tr>
                    <td>Nomor</td>
                    <td>{{ data.no }}</td>
                  <tr>
                  </tr>
                    <td>Bangunan</td>
                    <td>{{ data.bgn }}</td>
                  <tr>
                  </tr>
                    <td>Desa / Kelurahan</td>
                    <td>{{ data.kel }}</td>
                  <tr>
                  </tr>
                    <td>Kecamatan</td>
                    <td>{{ data.kec }}</td>
                  <tr>
                  </tr>
                    <td>Kabupaten / Kota</td>
                    <td>{{ data.kab }}</td>
                  <tr>
                  </tr>
                    <td>Provinsi</td>
                    <td>{{ data.prov }}</td>
                  <tr>
                  </tr>
                    <td>Kodepos</td>
                    <td>{{ data.kpos }}</td>
                  <tr>                    
                  </tr>
            </table> -->
            {% endif %}
          </div>
          <!-- <div class="col-lg-5 col-md-6">
            {% if dict %}
              <p>hasil : {{word}}</p>
              {% for item in mystr %}
                <li> {{ item }} </li>
              {% endfor %}
            {% endif %}
           -->
         </div>

        </div>
      </div>
    </section><!-- #contact -->



  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>Arif Rahman Hakim</strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Avilon
            -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>
        <!--<div class="col-lg-6">-->
          <!--<nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">-->
            <!--<a href="#intro" class="scrollto">Home</a>-->
            <!--<a href="#about" class="scrollto">About</a>-->
            <!--<a href="#">Privacy Policy</a>-->
            <!--<a href="#">Terms of Use</a>-->
          <!--</nav>-->
        <!--</div>-->
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="/static/lib/jquery/jquery.min.js"></script>
  <script src="/static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/lib/easing/easing.min.js"></script>
  <script src="/static/lib/wow/wow.min.js"></script>
  <script src="/static/lib/superfish/hoverIntent.js"></script>
  <script src="/static/lib/superfish/superfish.min.js"></script>
  <script src="/static/lib/magnific-popup/magnific-popup.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="/static/js/main.js"></script>

</body>
</html>



    <!--==========================
      More Features Section
    ============================-->
    <!--<section id="more-features" class="section-bg">-->
      <!--<div class="container">-->

        <!--<div class="section-header">-->
          <!--<h3 class="section-title">More Features</h3>-->
          <!--<span class="section-divider"></span>-->
          <!--<p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>-->
        <!--</div>-->

        <!--<div class="row">-->

          <!--<div class="col-lg-6">-->
            <!--<div class="box wow fadeInLeft">-->
              <!--<div class="icon"><i class="ion-ios-stopwatch-outline"></i></div>-->
              <!--<h4 class="title"><a href="">Lorem Ipsum</a></h4>-->
              <!--<p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident etiro rabeta lingo.</p>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="col-lg-6">-->
            <!--<div class="box wow fadeInRight">-->
              <!--<div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>-->
              <!--<h4 class="title"><a href="">Dolor Sitema</a></h4>-->
              <!--<p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata nodera clas.</p>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="col-lg-6">-->
            <!--<div class="box wow fadeInLeft">-->
              <!--<div class="icon"><i class="ion-ios-heart-outline"></i></div>-->
              <!--<h4 class="title"><a href="">Sed ut perspiciatis</a></h4>-->
              <!--<p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur trinige zareta lobur trade.</p>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="col-lg-6">-->
            <!--<div class="box wow fadeInRight">-->
              <!--<div class="icon"><i class="ion-ios-analytics-outline"></i></div>-->
              <!--<h4 class="title"><a href="">Magni Dolores</a></h4>-->
              <!--<p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum rideta zanox satirente madera</p>-->
            <!--</div>-->
          <!--</div>-->

        <!--</div>-->
      <!--</div>-->
    <!--</section>&lt;!&ndash; #more-features &ndash;&gt;-->


    <!--==========================
      Frequently Asked Questions Section
    ============================-->
    <!--<section id="faq">-->
      <!--<div class="container">-->

        <!--<div class="section-header">-->
          <!--<h3 class="section-title">Frequently Asked Questions</h3>-->
          <!--<span class="section-divider"></span>-->
          <!--<p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>-->
        <!--</div>-->

        <!--<ul id="faq-list" class="wow fadeInUp">-->
          <!--<li>-->
            <!--<a data-toggle="collapse" class="collapsed" href="#faq1">Non consectetur a erat nam at lectus urna duis? <i class="ion-android-remove"></i></a>-->
            <!--<div id="faq1" class="collapse" data-parent="#faq-list">-->
              <!--<p>-->
                <!--Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.-->
              <!--</p>-->
            <!--</div>-->
          <!--</li>-->

          <!--<li>-->
            <!--<a data-toggle="collapse" href="#faq2" class="collapsed">Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque? <i class="ion-android-remove"></i></a>-->
            <!--<div id="faq2" class="collapse" data-parent="#faq-list">-->
              <!--<p>-->
                <!--Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.-->
              <!--</p>-->
            <!--</div>-->
          <!--</li>-->

          <!--<li>-->
            <!--<a data-toggle="collapse" href="#faq3" class="collapsed">Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi? <i class="ion-android-remove"></i></a>-->
            <!--<div id="faq3" class="collapse" data-parent="#faq-list">-->
              <!--<p>-->
                <!--Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis-->
              <!--</p>-->
            <!--</div>-->
          <!--</li>-->

          <!--<li>-->
            <!--<a data-toggle="collapse" href="#faq4" class="collapsed">Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla? <i class="ion-android-remove"></i></a>-->
            <!--<div id="faq4" class="collapse" data-parent="#faq-list">-->
              <!--<p>-->
                <!--Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.-->
              <!--</p>-->
            <!--</div>-->
          <!--</li>-->

          <!--<li>-->
            <!--<a data-toggle="collapse" href="#faq5" class="collapsed">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="ion-android-remove"></i></a>-->
            <!--<div id="faq5" class="collapse" data-parent="#faq-list">-->
              <!--<p>-->
                <!--Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in-->
              <!--</p>-->
            <!--</div>-->
          <!--</li>-->

          <!--<li>-->
            <!--<a data-toggle="collapse" href="#faq6" class="collapsed">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="ion-android-remove"></i></a>-->
            <!--<div id="faq6" class="collapse" data-parent="#faq-list">-->
              <!--<p>-->
                <!--Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.-->
              <!--</p>-->
            <!--</div>-->
          <!--</li>-->

        <!--</ul>-->

      <!--</div>-->
    <!--</section>&lt;!&ndash; #faq &ndash;&gt;-->
